/node_modules/*
/client/node_modules/*
npm-debug.log
.build/css/*
.build/dust/*
.build/js/*
.git/*
.prod/*
.idea/*
/ab/*
/public/images/venues/*
/public/assets/*
/public/css/assets/*
/config/development.json
.env
.project
.DS_Store
.package-lock.json
/client/.package-lock.json
.DS_Store
.vscode
/client